In [1]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
import pandas as pd

In [17]:
df=pd.read_csv('titanic.csv')
df=df.dropna()
df.replace(to_replace='male',value=1,inplace=True)
df.replace(to_replace='female',value=0,inplace=True)
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,38.0,1,0,PC 17599,71.2833,C85,C,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,35.0,1,0,113803,53.1000,C123,S,1
6,7,"McCarthy, Mr. Timothy J",1,1,54.0,0,0,17463,51.8625,E46,S,0
10,11,"Sandstrom, Miss. Marguerite Rut",3,0,4.0,1,1,PP 9549,16.7000,G6,S,1
11,12,"Bonnell, Miss. Elizabeth",1,0,58.0,0,0,113783,26.5500,C103,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,0,47.0,1,1,11751,52.5542,D35,S,1
872,873,"Carlsson, Mr. Frans Olof",1,1,33.0,0,0,695,5.0000,B51 B53 B55,S,0
879,880,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,0,56.0,0,1,11767,83.1583,C50,C,1
887,888,"Graham, Miss. Margaret Edith",1,0,19.0,0,0,112053,30.0000,B42,S,1
889,890,"Behr, Mr. Karl Howell",1,1,26.0,0,0,111369,30.0000,C148,C,1

In [21]:
X=df[['Pclass','Sex','Age','SibSp','Parch']]

In [22]:
y=df.Survived

In [32]:
X_train=X[:100]
X_test=X[100:]
y_train=y[:100]
y_test=y[100:]
X_test

     Pclass  Sex   Age  SibSp  Parch
498       1    0  25.0      1      2
504       1    0  16.0      0      0
505       1    1  18.0      1      0
512       1    1  36.0      0      0
515       1    1  47.0      0      0
..      ...  ...   ...    ...    ...
871       1    0  47.0      1      1
872       1    1  33.0      0      0
879       1    0  56.0      0      1
887       1    0  19.0      0      0
889       1    1  26.0      0      0

[83 rows x 5 columns]

In [33]:
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [34]:
y_pred=model.predict(X_test)

In [38]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.45      0.82      0.58        22
           1       0.91      0.64      0.75        61

    accuracy                           0.69        83
   macro avg       0.68      0.73      0.67        83
weighted avg       0.79      0.69      0.71        83